/* Reguläres Footer Styling */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #e6ecf4;
  color: #005bbb;
  position: relative;
  font-size: 0.9rem;
}

.footer-link {
  background: none;
  border: none;
  color: #005bbb;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  padding: 0;
}

/* Dark Mode Footer Styles */
body.dark-mode footer {
  background-color: #1a1a1a;
  color: #82aaff;
}

body.dark-mode footer .footer-link {
  color: #82aaff;
}

body.dark-mode footer .footer-link:hover {
  text-decoration: underline;
  color: #a0bfff; /* Optional: helleres Hover-Farbe */
}

